
.nav-item  {
    font-size: 40px;
}

a.nav-link.active {
  color: orange!important;
}

p {
    color: black;
    background-color: DarkOrange;
    font-size: x-large;
    width: fit-content;
    margin-left: 5rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
}

li {
    float: left;
}

li a {
    display: block;
    color: pink;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: white;
}

body {
    background-color:skyblue!important;
}

/* ハンバーガーメニュー */


.navbar-toggle {
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
}

.navbar-toggle-icon {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #333;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.2s ease-in-out;
}

.navbar-toggle-icon::before,
.navbar-toggle-icon::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #333;
  position: absolute;
  left: 0;
  transition: transform 0.2s ease-in-out;
}

.navbar-toggle-icon::before {
  top: -8px;
}

.navbar-toggle-icon::after {
  bottom: -8px;
}

.navbar-toggle.active .navbar-toggle-icon {
  transform: rotate(45deg);
}

.navbar-toggle.active .navbar-toggle-icon::before {
  transform: translateY(8px) rotate(45deg);
}

.navbar-toggle.active .navbar-toggle-icon::after {
  transform: translateY(-8px) rotate(-45deg);
}

.navbar-menu {
  display: none;
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.navbar-menu.active {
  display: block;
}

  /* ハンバーガーメニュー */
