
.nav-item  {
    font-size: 40px;
}

a.nav-link.active {
  color: orange!important;
}

p {
    color: black;
    background-color: DarkOrange;
    font-size: x-large;
    width: fit-content;
    margin-left: 5rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
}

li {
    float: left;
}

li a {
    display: block;
    color: pink;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: white;
}

body {
    background-color:skyblue!important;
}
