p {
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
}

li {
    float: left;
}

li a {
    display: block;
    color: pink;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: white;
}
.one {
    background-color: yellow;
    color: black;
    display: inline-block;
    font-weight: bold;
}
.two {
    background-color: blue;
    color: white;
    display: inline-block;
    font-weight: bold;
}
.three {
    background-color: olive;
    color: white;
    display: inline-block;
    font-weight: bold;
}
