div.back {
 display: inline-block;
 /*background-image: url(../Image/chouchou.gif);  */
 background-image: url(https://ted3922.github.io/soccer/Screen Shot 2019-10-06 at 14.15.04.png);
 background-repeat: no-repeat;
 background-size: cover;
 width: 100%;
 height: 500px;
}

body{background-color: rgb(204,204,153,0.4);

.mainvisual {
  padding-top: 140px
  padding-bottom: 20px
  color: #FFFFFF;
  opacity: 0.5;
  text-align: left;
}
.main {
 font-size: 35px
 margin-bottom: 10px
}
.main2 {
 margin-bottom: 60px
 font-size: 24px
}

p.top{
 color: #FFFFFF;
 font-size: 10px;
}
